.Header {
    color: white;
    background-color: lightskyblue;
    text-align: center;
    font-size: 12px;
    font-family: "Arial";
    padding: 10px;
    bottom: 0;
    width: 100%;

    height: auto;

    max-height: 123px;

}