.Navigationbar {
    background-color: lightgray;
    height: 3vh;


}

.NavigationItem {


    font-size: 15px;
    line-height: 5vh;
    text-decoration: none;
    color: black;
    width: 50%;
    height: inherit;
    border: 1px #3f3f3f solid;



}
.NavigationItem:hover{
    background-color: darkgray;
}