.NavLink {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.NavLink:hover {
    text-decoration: underline;
}

.title {
    flex-grow: 1;
}

.navLinks {
    display: flex;
    align-items: center;
}
