.Navigationbar {

    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    align-items: center;
    height: 5vh;


}

.NavigationItem {

    font-size: 22px;
    line-height: 5vh;
    text-decoration: none;
    color: black;
    width: 50%;
    height: inherit;

    border: 1px #3f3f3f solid;

}
.NavigationItem:hover{
    background-color: darkgray;
}