.StatusOpen {
display:flex;
flex-direction: column;
    border: 1px black solid;
    border: double;
}

.StatusInProgress {
    display:flex;
    flex-direction: column;
    border: 1px black solid;
    border: double;
}

.StatusDone {
    display:flex;
    flex-direction: column;
    border: 1px black solid;
    border: double;
}